/* Provide sufficient contrast against white background */
a {
  color: #0366d6;
}

code {
  color: #E01A76;
}

.table-header-on {
    color: white;
    background-color: darkred;
}

.table-header-off {
    color: white;
    background-color: black;
}

.row-header {
    color: white;
    background-color: grey;
}